<div class="ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <!--SideBar-->
        <div class="left-sidebar">
          <div class="single-widget">
            <h3>Buscar aquí</h3>
            <form action="">
              <input type="text" placeholder="Buscar hoteles" class="form-control">
              <button type="submit" class="src-btn">
                <i class="ri-search-line move-icon"></i>
              </button>
            </form>
          </div>
          <div class="single-widget">
            <h3>Precio</h3>
            <select class="form-select">
              <option selected>$100</option>
              <option value="1">$200</option>
              <option value="2">$300</option>
              <option value="3">$400</option>
              <option value="4">$500</option>
            </select>

          </div>


        </div>


      </div>
      <div class="col-lg-9 col-md-12">
        <!--Hotel list-->
        <div class="hotels-listing">
          <ul class="d-flex justify-content-between sorting">
            <li>
              <span>30 hoteles</span>
            </li>
            <li>
              <select class="form-select">
                <option selected>Ordenado por defecto</option>
                <option value="1">Mayor a menor precio</option>
                <option value="2">Menor a mayor precio</option>
              </select>
            </li>


          </ul>
          <ul class="hotels-list">
            <li class="single-hotel-box">
              <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-12 col-sm-12">
                  <a class="d-block">
                    <img src="assets/images/hotels/hotel1.jpg" width="300" height="300">
                  </a>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-7">
                  <div class="content">
                    <h3>
                      <a>
                        Hotel California
                      </a>
                    </h3>
                    <p>Los Ángeles, California</p>
                    <div class="rating">
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-half-fill"></i>
                    </div>
                    <p>4.8/5 Maravilloso (100 reviews)</p>
                    <div class="price">$200 <span>Por noche</span></div>
                    <a class="default-btn">Reservar</a>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-5">
                  <ul class="info">
                    <li>
                      <i class="ri-wifi-line"></i>
                      Wifi gratis
                    </li>
                    <li>
                      <i class="ri-roadster-line"></i>
                      Parking gratis
                    </li>
                    <li>
                      <i class="ri-t-shirt-air-fill"></i>
                      Aire acondicionado
                    </li>
                    <li><!--Remix icons page-->
                      <i class="ri-restaurant-2-line"></i>
                      Restaurante
                    </li>
                    <li><!--Remix icons page-->
                      <i class="ri-riding-line"></i>
                      Gym
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="single-hotel-box">
              <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-12 col-sm-12">
                  <a class="d-block">
                    <img src="assets/images/hotels/hotel2.jpg" width="300" height="300">
                  </a>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-7">
                  <div class="content">
                    <h3>
                      <a>
                        Hotel Panamá
                      </a>
                    </h3>
                    <p>Panamá</p>
                    <div class="rating">
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-half-fill"></i>
                    </div>
                    <p>4.6/5 Maravilloso (80 reviews)</p>
                    <div class="price">$300 <span>Por noche</span></div>
                    <a class="default-btn">Reservar</a>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-5">
                  <ul class="info">
                    <li>
                      <i class="ri-wifi-line"></i>
                      Wifi gratis
                    </li>
                    <li>
                      <i class="ri-roadster-line"></i>
                      Parking gratis
                    </li>
                    <li>
                      <i class="ri-t-shirt-air-fill"></i>
                      Aire acondicionado
                    </li>
                    <li><!--Remix icons page-->
                      <i class="ri-restaurant-2-line"></i>
                      Restaurante
                    </li>
                    <li><!--Remix icons page-->
                      <i class="ri-riding-line"></i>
                      Gym
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="single-hotel-box">
              <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-12 col-sm-12">
                  <a class="d-block">
                    <img src="assets/images/hotels/hotel3.jpg" width="300" height="300">
                  </a>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-7">
                  <div class="content">
                    <h3>
                      <a>
                        Hotel Londres
                      </a>
                    </h3>
                    <p>Londres</p>
                    <div class="rating">
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-half-fill"></i>
                    </div>
                    <p>4.9/5 Maravilloso (50 reviews)</p>
                    <div class="price">$500 <span>Por noche</span></div>
                    <a class="default-btn">Reservar</a>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-5">
                  <ul class="info">
                    <li>
                      <i class="ri-wifi-line"></i>
                      Wifi gratis
                    </li>
                    <li>
                      <i class="ri-roadster-line"></i>
                      Parking gratis
                    </li>
                    <li>
                      <i class="ri-t-shirt-air-fill"></i>
                      Aire acondicionado
                    </li>
                    <li><!--Remix icons page-->
                      <i class="ri-restaurant-2-line"></i>
                      Restaurante
                    </li>
                    <li><!--Remix icons page-->
                      <i class="ri-riding-line"></i>
                      Gym
                    </li>
                  </ul>
                </div>
              </div>
            </li>



          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
