<div class="ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <!--SideBar-->
        <div class="left-sidebar">
          <div class="single-widget">
            <h3>Buscar aquí</h3>
            <form action="">
              <input type="text" placeholder="Buscar hoteles" class="form-control">
              <button type="submit" class="src-btn">
                <i class="ri-search-line"></i>
              </button>
            </form>
          </div>
        </div>


      </div>
      <div class="col-lg-9 col-md-12">
        <!--Hotel list-->
        <div>Hotels list</div>

      </div>
    </div>
  </div>
</div>
